streamlit==1.41.1
Flask==3.1.0
flask-cors==5.0.1
yfinance==0.2.4
pandas==2.2.3
plotly==5.5.0
prophet==1.1.1
scikit-learn==1.6.1
matplotlib==3.10.0
tweepy==4.11.0
textblob==0.15.3
vaderSentiment==3.3.2
mysql-connector-python==9.2.0
numpy==1.26.4
tensorflow==2.4.0




